// The file that contains the Ignition config used to configure the RHCOS based bootstrap machine.
bootstrap_ign_file = "/path/to/local/bootstrap.ign"

// The domain of the cluster.
// All the records for the cluster are created under this domain.
// Note: This field MUST be set manually prior to creating the cluster.
cluster_domain = "cluster.domain"
cluster_id="cluster_name"

// Interfaces
// If you are using two networks (provisioning and baremetal), uncomment and
// set these variables to corresponding names of the interfaces for those 
// networks.  Failing to do so can prevent CoreOS ignition from working properly, 
// especially on target machines with many interfaces.
//provisioning_interface = "em1"
//baremetal_interface = "em2"

// The number of control plane machines required.
//
// Since etcd is colocated on control plane machines, suggested number is 3 or 5.
// Default: 1
master_count = "1"

// The file that contains the Ignition config used to configure the RHCOS based control plane machines.
master_ign_file = "/path/to/local/master.ign"

// Client certificate used to authenticate with the matchbox RPC API.
//
// For more info: https://github.com/coreos/matchbox/blob/master/Documentation/api.md
matchbox_client_cert = "/path/to/local/matchbox/scripts/tls/client.crt"

// Client certificate's key used to authenticate with the matchbox RPC API.
//
// For more info: https://github.com/coreos/matchbox/blob/master/Documentation/api.md
matchbox_client_key = "/path/to/local/matchbox/scripts/tls/client.key"

// HTTPS endpoint for matchbox. This must include the scheme
//
// For more info: https://github.com/coreos/matchbox/blob/master/Documentation/api.md
matchbox_http_endpoint = "http://${PROVISIONING_IP}:8080"

// RPC endpoint for matchbox.
//
// For more info: https://godoc.org/github.com/coreos/matchbox/matchbox/client
matchbox_rpc_endpoint = "${PROVISIONING_IP}:8081"

// Certificate Authority certificate to trust the matchbox endpoint.
matchbox_trusted_ca_cert = "/path/to/local/matchbox/scripts/tls/ca.crt"

// URL to the initrd image that should be used to PXE machines.
//
// This can be a fully-qualified URL or URL relative to matchbox_http_endpoint to use Matchbox assets (https://github.com/coreos/matchbox/blob/master/Documentation/matchbox.md#assets).
pxe_initrd_url = "assets/rhcos-4.1.0-x86_64-installer-initramfs.img"

// URL to the kernel image that should be used to PXE machines.
//
// This can be a fully-qualified URL or URL relative to matchbox_http_endpoint to use Matchbox assets (https://github.com/coreos/matchbox/blob/master/Documentation/matchbox.md#assets).
pxe_kernel_url = "assets/rhcos-4.1.0-x86_64-installer-kernel"

// URL to the OS image for RHCOS that should be installed on machines.
//
// For more info: https://github.com/coreos/coreos-installer#kernel-command-line-options-for-coreos-installer-running-in-the-initramfs
pxe_os_image_url = "http://${PROVISIONING_IP}:8080/assets/rhcos-4.1.0-x86_64-metal-bios.raw.gz"

master_public_ipv4 = "${MASTER_IP}"
master_ipmi_host = "${MASTER_IPMI_HOST}"
master_ipmi_user = "${MASTER_IPMI_USER}"
master_ipmi_pass = "${MASTER_IPMI_PASS}"
bootstrap_public_ipv4 = "${BOOTSTRAP_IP}"
bootstrap_ipmi_host = "${BOOTSTRAP_IPMI_HOST}"
bootstrap_ipmi_user = "${BOOTSTRAP_IPMI_USER}"
bootstrap_ipmi_pass = "${BOOTSTRAP_IPMI_PASS}"

bootstrap_mac_address = "${BOOTSTRAP_MAC}"
master_mac_address = "${MASTER_MAC}"
nameserver= "$COREDNS_IP"
